body{
  margin: 0;
  font-family: 'Open Sans';
  overflow-x:hidden;
  background-color: #f2f2f2;
}
.header-title{
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 15px;
}

.menu{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 0%;
  padding: 0%;
 
}
.menu .menu-item{
  
  list-style-type: none;
}
.menu a{

  display: block; 
  text-align: center;
  font-weight: 700;
  font-style: italic;
  color: #5D5D5D;
  font-size: 1.2rem;
  margin: 0 2em 0 2em;
  padding: 5px;
  text-decoration: none;
}
.menu a:hover{
  background-color: #f03c6f;
  border: 10px;
  border-radius: 4px;
  color: rgb(253, 253, 253);
} 
.banner{
  border: #f03c6f 22px;
}
.banner img{
  width: 100%;
}
.services{
  margin: 50px 100px;
  text-align: center;
}
.services .field--name-field-link1{
  background-color: #f03c6f;
  display: inline-block;
  padding: 10px;
  width: 20%;
  font-size: 1rem;
  border-radius: 5px;
  margin-left: auto ;
}

.services .field--name-field-link1 a{
   text-decoration: none;
   color: aliceblue;
   font-size: 2rem;
   font-weight: bold;
}
.services .field--name-field-link2{
  display: inline-block;
  background-color: #0a0909;
  padding: 10px;
  width: 20%;
  border-radius: 5px;
}
.services .field--name-field-link2 a{
  text-decoration: none;
  color: aliceblue;
  font-size: 2rem;
  font-weight: bold;
}
 .servicetype1 {
  box-shadow: rgb(100 100 111 / 20%) 0px 0px 19px 0px;
  border-radius: 2%;
}
.content h2 {
    font-family: sans-serif;
    color: #080808;
    text-align: center;
    font-size: 30px;
    position: relative;
  }

.article{
  background-color: #fff;
    width: 75% !important;
    margin: auto;
    border-radius: 12px;
    margin-bottom: 25px;
}
.article  h3{
  margin: 10px;
}
.article  p{
  margin: 10px;
}
.article  p img{
  margin: 10px 10px 5px 0px;
}
.footer{
  justify-content: center;
  align-items: center;
  background-color: #262323;
  color: aliceblue;
} 
.footer a{
  text-decoration: none;
  color: aliceblue;
}
.footer-second{
  text-align: center;
  background: #2C2929;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  margin: 0;
  padding: 0.85em 2em 0.85em 2em;

 
}
/*.footer-top{
  display: grid;
  grid-template-columns: auto auto;
}  
.footer-middle{
  display: grid;
  grid-template-columns: auto auto auto;
}  


.banner img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;;
}
.footer-all a{
  color: aliceblue;
}
.footerlast{
  background-color: #5D5D5D;
  margin: 0px;
  padding: 0px;
} */