<div class="header">
{{page.header}}
</div>
<div class="banner">
{{page.banner}}
</div>
<div class="services">
{{page.services}}
</div>
<div class="content">
{{page.content}}
</div>
<div class="main">
{{page.main}}
</div>

<footer class="footer">
<div class="footer-top">
{{page.footer_first}}
</div>

<div class="footer-second">
 {{page.footer_second}}
</div>
<div class="footer-middle">
 {{page.footer_third}}
 {{page.footer_fourth}}
  {{page.footer_fifth}}
</div>
<div class="footer-bottom">
 {{page.footer_sixth}}
</div>
</footer>






